{% extends "template.html" %} {% block body %}

<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family:"Raleway", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
</head>
<body>

  <div class="box1">
  
    <p> I am not  a web developer but nonetheless I have made this website. This will serve as project portfolio and will be continually updated as such. However, my main interests lie in machine learning and other quantifiable operations.  </p>
    <br>
    <p> for more information please visit my  <a  href="/timeline">timeline</a> or <a href="/extras"> extras</a> page</p>
    </div>

<h1>Projects</h1>
  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:10px">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t39.30808-6/320182820_542512241089183_9181263341168697342_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=730e14&_nc_ohc=fejnrtifLOAAX-LQr7Y&_nc_oc=AQmUTk1cj8ohco0O0XnTZ8Hwpcxe1FfEjVStgsbl4ERQywh-wqf8kcs6GJS2OsqLYUA7iORgPsSDoMjZIQPqu0OJ&tn=m5hhzwUvJDvuwBDa&_nc_ht=scontent-atl3-1.xx&oh=00_AfAxGVYs04UC5ws5C3GIiL-IBh1rbgeTAFAY3M3MBKh69A&oe=63A23F94" alt="gp" style="width:100%" height="300px">
      <h3><b>The Galindo Project</b></h3>
      <p> Based on Open AI's Jukebox, I am expanding on the code so that it works more like AI image generators. User's will be able to compose music by inputing prompts (emotions, beats, etc) in a segmented fashion.</p> 
    </div>
    <div class="w3-quarter">
      <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t39.30808-6/319666611_856308872085106_1485052380597537162_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_ohc=NiCI8QYjensAX8n-1Yf&_nc_ht=scontent-atl3-1.xx&oh=00_AfDuwbnmJlTaQxJZFeFJ_ZUXRh7sYSJoCl3iw2VpkSCvmw&oe=63A23D35" alt="pc" style="width:100%" height="300px">
      <h3><b>Web Development (Galindo Project)</b></h3>
      <p> This website was created by me, contains language from Python, HTML, and CSS.</p>
    </div>
    <div class="w3-quarter">
      <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t39.30808-6/320628792_6233827510002715_4130792291006770075_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=730e14&_nc_ohc=mwCeZU5g--MAX9VkWNz&_nc_ht=scontent-atl3-1.xx&oh=00_AfD7vlofuGCHyixc5R2bC6FNMT9AQ7eopB-D9A4WjJjOwQ&oe=63A1925E" alt="Cherries" style="width:100%" height="300px">
      <h3><b>Financial Analysis</b></h3>
      <p>More info coming soon.</p>
     
    </div>
    <div class="w3-quarter">
      <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t39.30808-6/316829196_5674832935944294_5024410254869020297_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=730e14&_nc_ohc=q0eyjDBARC8AX9ojFCC&_nc_ht=scontent-atl3-1.xx&oh=00_AfBxRtHefuZiSvpSVqnYNQfxqXL-oH3bqy2zWHU4edaZHw&oe=63A12F79" alt="Pwnsd" style="width:100%" height="300px">
      <h3><b>Python time and attendance program</b></h3>
      <p>More info coming soon</p>
    </div>
  </div>
  


 
  
  
 
</div>


</body>
</html>


{% endblock %}
